:root {
  --CRAYOLAS-MAIZE: #F1C84C;
  --GRAY: #818181;
  --RICH-BLACK: #081323;
  --BLACK: #000;
  --WHITE: #fff;
  --PLATINUM: #E5E7E6;
  --QUICK-SILVER: #A1A1A1;
  --MUGHAL-GREEN: #2F5128;
  --GRANITE-GRAY: #636363;
  --OLD-SILVER: #828282;
  --ARGENT: #C1C1C1;
  --YELLOW-ORANGE: #F8B335;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --playfair:"Playfair Display", serif;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/Playfair/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header {
  height: 1114px;
  background-image: url("../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 474px;
  width: 100%;
  margin-bottom: 130px;
}

.nav-link {
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-top: 40px;
  color: var(--GRANITE-GRAY);
  transition: ease-in-out 0.2s;
}
.nav-link::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-radius: 0 0 100px 100px;
  top: 0;
  left: 0;
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--MUGHAL-GREEN);
}
.nav-link:hover::before {
  background-color: var(--MUGHAL-GREEN);
}

.nav-link.active {
  color: var(--MUGHAL-GREEN);
}
.nav-link.active::before {
  background-color: var(--MUGHAL-GREEN);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1018px;
  width: 100%;
}

.header-title {
  font-family: var(--playfair);
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 0.8px;
  margin-bottom: 26px;
}

.header-desc {
  max-width: 544px;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 58px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
  font-size: 18px;
}

.wrapper-row {
  height: 100vh;
}

.container {
  max-width: 1392px;
  padding: 0 20px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */