.service {
    padding-top: 61px;
}
.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    list-style: none;
}
.service-list-item {
    display: flex;
    column-gap: 33px;
    max-width: 350px;
    width: 100%;
}
.service-item-img {
    & img {
        width: 90px;
        height: 90px;
        display: block;
    }
}
.service-item-content {
    flex-grow: 1;
}
.service-content-title {
    font-weight: 500;
    font-size: 32px;
    color: var(--RICH-BLACK);
    margin-bottom: 6px;
}
.service-content-desc {
    font-weight: 500;
    font-size: 20px;
    color: var(--OLD-SILVER);
}