@import './vars';
@import './header';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--poppins);
    font-size: 18px;
}
.wrapper-row {
    height: 100vh;
}
.container {
    max-width: 1392px;
    padding: 0 20px;
    margin: 0 auto;
}